[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/30ise/
Environment="PYTHONPATH=/home/str/30ise/"
ExecStart=/home/str/30ise/.venv/bin/python /home/str/30ise/bot_main.py

[Install]
WantedBy=multi-user.target